

.header-btn {
    background-color: color(quaternary);
    width: fit-content;
    text-wrap: nowrap;
    padding: 1rem 3rem;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;

}