.card-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    margin-bottom: 3rem;

    .card {
      background-color: color(whitee);
      @include centring();
      padding: 3rem;
      text-align: center;

      
    }


  }